<%-include("./common/head.ejs")%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<div class="flex flex-wrap max-w-[80vw]">
        <a href="/deploy/new" class="service-card cursor-pointer hover:bg-gray-7 transition-all select-none">
                <div>
                        <table class="w-full">
                                <tr>
                                        <td class="align-middle">
                                                <i class="fa-solid fa-plus text-2xl align-middle"></i><span class="font-bold text-gray-0 align-middle"> Deploy new</span>
                                        </td>
                                </tr>
                        </table>
                </div>
        </a>
        <div class="service-card atm-card">
                <table class="w-full">
                        <tr>
                                <td>
                                        <img alt="Icon of ATM7 Server. The all the mods 7 logo, 'LIT' scribbled on top" src="https://ems-api.litdevs.org/v1/minecraft/icon" width="64" height="64">
                                        <span class="font-bold text-gray-0">ATM7 Server</span>
                                        <div class="block">
                                                <div class="atm-status-dot status-dot status-dot-gray"></div><span class="status-text atm-status">Unknown</span>
                                        </div>
                                </td>
                                <td class="float-right">
                                        <i class="fa-solid fa-power-off p-2 ml-2 rounded-md cursor-pointer hover:bg-gray-8" title="On/Off" onclick="atm7power(false)"></i>
                                        <i class="fa-solid fa-plug-circle-exclamation p-2 rounded-md cursor-pointer hover:bg-gray-8" title="Force shutdown" onclick="atm7power(true)"></i>
                                </td>
                        </tr>
                </table>
                <script src="/js/atm.js"></script>
        </div>
        <script src="/js/pm2.js"></script>
        <%
        processes.forEach(process => {
                process;%><%-include("common/process-card.ejs", {process})%><%
        })
        %>
</div>

<%-include("./common/bottom.ejs")%>